@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;
}

@layer base {
  body {
    @apply font-outfit;
  }
}